body {
    color: #333;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.cabeca {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #000000;
    padding: 20px 0;
    color: #FFF;
    align-items: center;
}

.corpo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    background-color: #FFF;
    flex-direction: column;
    gap: 25px;
}

.rodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #000000;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}

.FormForm {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.pesquisa {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#procurar {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, select, input, button {
    margin-bottom: 10px;
}

button {
    align-self: flex-start;
    padding: 10px 20px;
}
